package-lock=false
"main": "dist/index.js", //<-the bundled file we mentioned in webpack config
"scripts": {
"start": "webpack — watch",
"build": "webpack",
"prepublish": "npm run build"//<- so I do not have to run 2 command to build and publish, thanks to node's 'pre' hook
},
"repository": {
"type": "git",
"url": "https://github.com/psharneja/react-publishable-component"
},
"author": "Prabhsimran Singh <simarharneja@googlemail.com> (http://psharneja.github.io/)",
"license": "ISC",